<!DOCTYPE html>
<html>

<head>
    <title> About </title>
    <% include('../partials/_header') %>
    <script type="text/javascript" src="./index.js"></script>
</head>

<body>
    <h1>About Sharadhambe</h1>
    <p>
        Sharadhambe is Hindhu Goddess. She gives knowledge to every person.
    </p>
</body>

</html>